
@font-face {
    font-family: "DIN Next LT";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/din-next-lt-regular.woff2") format("woff2");
}

html {
    background-color: #222222;
}

body {
    margin: 0;
    color: white;
    font-family: "DIN Next LT", sans-serif;
}

#app {
    height: 100vh;
}

.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    gap: 20px;

    align-items: center;
    justify-content: center;
}
